html {
  /* overflow: hidden;   /* prevents selecting post from pulling to top of page*/ 
  overscroll-behavior: none;  /*solution, removes scroll bounce*/
  height: 100%;
}

body {
    margin: 0;
    overflow: auto;
    overscroll-behavior: none;
    height: 150%;
}

.header {
    background: dimgray;
    top: 0%;
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.homepage {
    margin: 50px 0 0 0;
    background: black;
    height: 100em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
  padding: 15px;
}

.login, .signup, .logout{
    cursor: pointer;
}
.form {
  align-self: center;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.form > input {
  font-size: 80%;
  margin: 20px 4px 0 0;
  width: 110px;
  padding: 3px;
}

.form > input:first-child {
  margin-top: 0px;
}

.auth-submit, .post-submit {
  margin: 20px 0 20px 0;
  background:rgb(53, 125, 250);
  border-radius: 5px;
  color: white;
  padding: 2px;
  cursor: pointer;
}

.auth-submit:hover, .post-submit:hover {
  background: rgb(35, 84, 167);
}


.modal {
  display: inline-flex;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}


.post-content, .auth-content {
  background: white;
  margin: 15% auto;
  width: 30%;
  height: fit-content;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 3px 3px rgba(53, 125, 250, 0.6);
}

.close {
  float: right;
  cursor: pointer;
}
.logged {
  display: none;
}

.description {
    width: 80%;
    height: 50%;
}
.post {
  background: dimgrey;
  width: 70%;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.post-content {
  min-width: 300px;
  min-height: 200px;
  max-width: 400px;
  max-height: 300px;
}

.add-comment, .delete {
    z-index: 2;
}

.logo {
  cursor: pointer;
  width: 156px;
  border-radius: 20px;
  text-align:left;
}
.comment-area {
  width: 100px;
  height: 40px;
}
h1, p {
  margin-left: 15px;
}
