html {
  /* overflow: hidden;   /* prevents selecting post from pulling to top of page*/
  overscroll-behavior: none;  /*solution, removes scroll bounce*/
  height: 100%;
  font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
    overflow: auto;
    overscroll-behavior: none;
    height: 100%;
    background: black;
}
.header {
    background: dimgray;
    top: 0%;
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(0,0,0,0.3);
}
.homepage {
    margin: 60px 0 0 0;
    background: black;
    height: 100em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Buttons Section*/
.buttons {
  padding: 15px;
}

.login, .signup, .logout, .create-button, .userid{
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    margin-right: 8px;
    margin-top: 0px;
}
.userid {
  font-size: 22px;
  color: #07467b;
}
.login {
  color: #07467b;
  background: ivory;
  border: 2px solid #07467b;
}
.login:hover {
  color: ivory;
  background: #07467b;
}
.signup {
  color: ivory;
  background: #07467b;
  border: 2px solid ivory;
}
.signup:hover {
  color: #07467b;
  background: ivory;
  border: 2px solid #07467b;
}
.logout {
  color: #ed3833;
  background: ivory;
  border: 2px solid #ed3833;
}
.logout:hover {
  color: ivory;
  background: #ed3833;
}
.create-button {
  color: #07467b;
  background: ivory;
  border: 2px solid #07467b;
}
.create-button:hover {
  color: ivory;
  background: #07467b;
}
/* --------------------- */

.form {
  align-self: center;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.form > input {
  font-size: 80%;
  margin: 20px 4px 0 0;
  width: 110px;
  padding: 3px;
}

.form > input:first-child {
  margin-top: 0px;
}

/* .auth-submit, .post-submit { */
button {
  cursor: pointer;
  margin: 20px 0 20px 0;
  background:#07467b;
  border-radius: 5px;
  color: white;
  padding: 2px;
}

.auth-submit:hover, .post-submit:hover {
  background: rgb(35, 84, 167);
}
.modal {
  display: inline-flex;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}
.post-content, .auth-content {
  background: white;
  margin: 15% auto;
  width: 30%;
  height: fit-content;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 3px 3px rgba(53, 125, 250, 0.6);
}

.close {
  float: right;
  cursor: pointer;
}

.logged {
  display: none;
  padding: 10px;
}
.description {
    margin: 20px 0 10px 0;
    width: 400%;
    min-height: 100px;
}
.post {
  background: dimgrey;
  width: 500px;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  color: #07467b;
}
.post:hover {
  border: 1px solid #95adbe;
  width: 510px;
}
.add-comment, .delete {
    margin: 0 0 0 10px;

}
.logo {
  cursor: pointer;
  width: 115px;
  margin: 8px 0px 8px 15px;
}
.comment-area {
  width:  30%;
  min-height: 40px;
  margin-left: 15px;
  background: rgb(94, 94, 94);
  color: rgba(220,220,220,0.7);
}

.comment-area::placeholder {
  color: rgba(220,220,220,0.7);
}

h1 {
  color: rgba(0,0,0,0.7);
  margin: 12px;
}
p {
  color: rgba(220, 220, 220, 0.7);
  margin-left: 15px;
}
.comment {
  font-family: sans-serif;
  color: rgba(220,220,220,0.7);
}

.auth-error, .post-error {
  color: rgba(0,0,0,0.7);
}

